<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286989272753-qr7ifp8i4uk81s3ud5si6hmajniobj60.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286989272753-qr7ifp8i4uk81s3ud5si6hmajniobj60</string>
	<key>API_KEY</key>
	<string>AIzaSyAAckIRvKGJFMFeWARlypHWlzClnV-1nBc</string>
	<key>GCM_SENDER_ID</key>
	<string>286989272753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.litech.3Squared</string>
	<key>PROJECT_ID</key>
	<string>squared-61ae1</string>
	<key>STORAGE_BUCKET</key>
	<string>squared-61ae1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286989272753:ios:073853aac98777797dc490</string>
	<key>DATABASE_URL</key>
	<string>https://squared-61ae1.firebaseio.com</string>
</dict>
</plist>